USE [master]
GO
/****** Object:  Database [Ferreteria]    Script Date: 20/6/2022 05:03:36 ******/
CREATE DATABASE [Ferreteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ferreteria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ferreteria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ferreteria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ferreteria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ferreteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ferreteria]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/6/2022 05:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[dni] [int] NOT NULL,
	[estadoFiscal] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/6/2022 05:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[dni] [int] NOT NULL,
	[fechaContratacion] [datetime] NOT NULL,
	[sueldo] [decimal](18, 0) NOT NULL,
	[cargo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoStock]    Script Date: 20/6/2022 05:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoStock](
	[precio] [decimal](18, 0) NOT NULL,
	[cantidadStock] [int] NOT NULL,
	[cantidadEstandar] [int] NOT NULL,
	[codigo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoVenta]    Script Date: 20/6/2022 05:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoVenta](
	[precio] [decimal](18, 0) NOT NULL,
	[cantidadVentidos] [int] NOT NULL,
	[codigo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[idVenta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 20/6/2022 05:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id] [int] NOT NULL,
	[fechaCompra] [datetime] NOT NULL,
	[dniComprado] [int] NOT NULL,
	[ventaRealizada] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([usuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [dni], [estadoFiscal]) VALUES (N'20201036', N'123', N'juan', N'martitegui', CAST(N'1990-06-06T15:34:13.000' AS DateTime), 20201036, 0)
INSERT [dbo].[Cliente] ([usuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [dni], [estadoFiscal]) VALUES (N'40150365', N'123', N'Gabriel', N'Martinez', CAST(N'1995-07-13T15:34:13.000' AS DateTime), 40150365, 0)
INSERT [dbo].[Cliente] ([usuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [dni], [estadoFiscal]) VALUES (N'40000205', N'123', N'Micaela', N'Dominguez', CAST(N'2000-04-07T15:34:13.000' AS DateTime), 40000205, 0)
GO
INSERT [dbo].[Empleado] ([usuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [dni], [fechaContratacion], [sueldo], [cargo]) VALUES (N'22333444', N'123', N'pepe', N'dominguez', CAST(N'1995-05-30T15:34:13.000' AS DateTime), 22333444, CAST(N'1995-05-30T15:34:13.000' AS DateTime), CAST(40000 AS Decimal(18, 0)), 0)
GO
INSERT [dbo].[ProductoStock] ([precio], [cantidadStock], [cantidadEstandar], [codigo], [descripcion]) VALUES (CAST(2500 AS Decimal(18, 0)), 3, 2, 102032, N'moladora 400W')
INSERT [dbo].[ProductoStock] ([precio], [cantidadStock], [cantidadEstandar], [codigo], [descripcion]) VALUES (CAST(2 AS Decimal(18, 0)), 200, 200, 203233, N'Tornillo Fix metrica: Milimetrico')
INSERT [dbo].[ProductoStock] ([precio], [cantidadStock], [cantidadEstandar], [codigo], [descripcion]) VALUES (CAST(250 AS Decimal(18, 0)), 4, 2, 202031, N'Destornillador Philips 4x30')
GO
INSERT [dbo].[ProductoVenta] ([precio], [cantidadVentidos], [codigo], [descripcion], [idVenta]) VALUES (CAST(300 AS Decimal(18, 0)), 2, 202033, N'Destornillador Philips 4x60', 0)
INSERT [dbo].[ProductoVenta] ([precio], [cantidadVentidos], [codigo], [descripcion], [idVenta]) VALUES (CAST(6 AS Decimal(18, 0)), 200, 153002, N'Tornillo Fix metrica: Otro', 1)
INSERT [dbo].[ProductoVenta] ([precio], [cantidadVentidos], [codigo], [descripcion], [idVenta]) VALUES (CAST(350 AS Decimal(18, 0)), 3, 202034, N'Destornillador Philips 5x30', 2)
GO
INSERT [dbo].[Venta] ([id], [fechaCompra], [dniComprado], [ventaRealizada]) VALUES (0, CAST(N'2022-06-19T00:02:01.623' AS DateTime), 100204015, 1)
INSERT [dbo].[Venta] ([id], [fechaCompra], [dniComprado], [ventaRealizada]) VALUES (1, CAST(N'2022-06-19T00:07:16.653' AS DateTime), 20365189, 0)
INSERT [dbo].[Venta] ([id], [fechaCompra], [dniComprado], [ventaRealizada]) VALUES (2, CAST(N'2022-06-19T00:10:59.623' AS DateTime), 100204015, 0)
GO
USE [master]
GO
